.wrapper {
    text-align: center;
    width: 300px;
    padding: 30px;
  }
  button {
    background-color: lightgray;
    padding: 10px 20px;
    border-radius: 4px;
    border: gray 2px solid;
  }
  button:hover {
    cursor: pointer;
  }
  #button:active {
    background-color: gray;
  }
  #pokemon {
    background-color: #dee8f1;
    border-radius: 8px;
    padding: 30px;
    text-align: center;
    margin-top: 20px;
  }
  p {
    border-bottom: 3px solid #fff;
  }